{% extends "network/layout.html" %}

{% block body %}
<div class="post">
  <h2 class="baslik" id="home"> <a href="{% url 'index' %}"><i class="fas fa-arrow-left"></i></a> Tweek </h2>
    <br>
    <a href="{% url 'other_profiles' post.owner.user.username %}"><img src="{{post.owner.image.url | default:'media/profile_image/egg.jpg'}}" class="rounded-circle" style="margin-left: 25px;"> </a> 
    <h1 class="baslik" style="display: inline;"> {{ post.owner.firstname }} </h1>
    <p class="username"> @{{ post.owner.user.username }}</p>  
    <p class="posting" style="margin-left: 20px;"> {{ post.post }} </p>
    {% if post.post_image %} 
    <p style="margin-left: 70px;"><img style="width: 200px; height:200px;" src= "{{post.post_image.url}}"></p>
    {% endif %}
    <p style="margin-left: 25px;"> {{post.timestamp}} </p> 
    <hr style="width: 90%;">
    <a href="#" class="username posta" style="margin-left: 25px;"> <i class="far fa-chart-bar"></i> View Tweet Activity </a>
    <hr style="width: 90%;">
    <i class="far fa-comment-dots"></i> <i class="fas fa-retweet"></i> <i class="fas fa-external-link-alt"></i>
    {% for user in likes %}
    <a href="#">{{ forloop.counter }}</a>
    {% endfor %} 
    
    <form action="{% url 'like' post.id %}"method="get" enctype="multipart/form-data">
      {% csrf_token %}
    <label>
        <input type="checkbox" name="liked" id="liked" hidden>
       <input type="submit" hidden></input>
      </label>
    </form>  
</div>
{% endblock %}