{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %} Twikker {% endblock %}</title>
        <link rel="icon" type="image/png" href="{% static 'network/favicon.ico' %}" sizes="32x32" class="rounded-circle"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}?version=1" rel="stylesheet">
        <script src="{% static 'network/myjs.js' %}?version=1" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

        
    </head>
<body>

        {% if messages %}
        <ul class="alert alert-info">
        {% for message in messages %}
        <h3> {{ message }} </h3>
        {% endfor %}
        {% endif %}
                    
                <div class="container" >
                 <h1 class="baslik" style="font-size: xx-large;margin: 30px;"> <a href="{% url 'index' %}"><i class="fas fa-arrow-left"></i>  <button type="submit" class="tweekbutton" style="width:100px;float:right;margin:0;">Tweek</button></h1>
                </h2>
                <div class="tweetsec">
                <form action="{% url 'tweek' %}"method="post" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <img src="{{ user.profile.image.url | default:'media/profile_image/egg.jpg'}}" alt ="pp" style="margin:40px" class="rounded-circle"><textarea rows="5" class="twik" name="post"  style ="padding:40px;"> What's Happening? </textarea>
                    <br>
                    <div class='fileUpload'>
                    <label for="file-input">
                        <i class="far fa-image"> </i>
                    </label>
                
                    <input id="file-input" type="file" name="image">
                </div>
                    <div class='fileUpload'>
                    <label for="file-input">
                        <i class="fas fa-poll"></i>
                    </label>
                    <input id="file-input" type="file">
                    </div>
                    <div class='fileUpload'>
                    <label for="file-input">
                        <i class="far fa-smile-beam"></i>
                    </label>
                
                    <input id="file-input" type="file">
                    </div>
                
                </form>
            </div>
       
        </div>
    </div>
    </body>
</html>